/*
 * Colors CSS
 * ----------------------------------------------------------------------------
 * Cores diversas
 *
 * Referências:
 * https://www.materialpalette.com
 * https://www.materialpalette.com/colors
 * https://material.io
 * https://material.io/design/color/the-color-system.html#tools-for-picking-colors
 * https://tailwindcss.com
 * https://tailwindcss.com/docs/background-color
*/

$color-gray-50: #FAFAFA;
$color-gray-100: #F5F5F5;
$color-gray-200: #EEEEEE;
$color-gray-300: #E0E0E0;
$color-gray-400: #BDBDBD;
$color-gray-500: #9E9E9E;
$color-gray-600: #757575;
$color-gray-700: #616161;
$color-gray-800: #424242;
$color-gray-900: #212121;

$color-amber-400: #FFCA28;
$color-amber-500: #FFC107;
$color-amber-600: #FFB300;
$color-amber-700: #FFA000;
$color-amber-800: #FF8F00;

$color-blue-500: #2196F3;
$color-blue-600: #1E88E5;
$color-blue-700: #1976D2;
